/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,300,200,500,700,600,800,900);
/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 9, ../sass/1-tools/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 19, ../sass/1-tools/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 33, ../sass/1-tools/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 54, ../sass/1-tools/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 67, ../sass/1-tools/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 77, ../sass/1-tools/_normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 89, ../sass/1-tools/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 97, ../sass/1-tools/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 109, ../sass/1-tools/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 117, ../sass/1-tools/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 126, ../sass/1-tools/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 135, ../sass/1-tools/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 144, ../sass/1-tools/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 153, ../sass/1-tools/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 161, ../sass/1-tools/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 169, ../sass/1-tools/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 173, ../sass/1-tools/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 184, ../sass/1-tools/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 192, ../sass/1-tools/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 203, ../sass/1-tools/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 211, ../sass/1-tools/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 221, ../sass/1-tools/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 229, ../sass/1-tools/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 252, ../sass/1-tools/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 266, ../sass/1-tools/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 277, ../sass/1-tools/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 290, ../sass/1-tools/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 302, ../sass/1-tools/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 311, ../sass/1-tools/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 322, ../sass/1-tools/_normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 334, ../sass/1-tools/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 346, ../sass/1-tools/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 357, ../sass/1-tools/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 370, ../sass/1-tools/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 379, ../sass/1-tools/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 390, ../sass/1-tools/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 399, ../sass/1-tools/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 408, ../sass/1-tools/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 419, ../sass/1-tools/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 424, ../sass/1-tools/_normalize.scss */
td,
th {
  padding: 0;
}

/* Let's get this party started */
/* line 2, ../sass/1-tools/_scrollbar.sass */
::-webkit-scrollbar {
  display: none;
  width: 6px;
  -webkit-appearance: none;
}

/* Track */
/* line 7, ../sass/1-tools/_scrollbar.sass */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Handle */
/* line 12, ../sass/1-tools/_scrollbar.sass */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #566e88;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* line 17, ../sass/1-tools/_scrollbar.sass */
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(86, 110, 136, 0.5);
}

/* line 1, ../sass/3-layout/_general-layout.sass */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* line 6, ../sass/3-layout/_general-layout.sass */
html {
  height: 100vh;
}

/* line 9, ../sass/3-layout/_general-layout.sass */
body {
  font-family: "Raleway", sans-serif;
  height: 100vh;
}

/* line 13, ../sass/3-layout/_general-layout.sass */
h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

/* line 1, ../sass/3-layout/_profile-page.sass */
.profile-wrapper {
  height: 100vh;
}
/* line 3, ../sass/3-layout/_profile-page.sass */
.profile-wrapper section#profile {
  padding: 70px 10px;
  height: 100vh;
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-size: cover;
}

@media screen and (max-height: 700px) {
  /* line 14, ../sass/3-layout/_profile-page.sass */
  .profile-wrapper section#profile {
    display: block;
    padding: 40px 10px;
  }
}
@media screen and (max-width: 800px) {
  /* line 18, ../sass/3-layout/_profile-page.sass */
  .profile-wrapper {
    height: initial;
  }
  /* line 20, ../sass/3-layout/_profile-page.sass */
  .profile-wrapper section#profile {
    padding: 10px 10px;
    display: block;
    margin: 0 auto;
  }
}
/* line 2, ../sass/3-layout/_cs-page.sass */
.cs-wrapper section#cs {
  position: relative;
  background-color: #111418;
  color: rgba(255, 255, 255, 0.8);
  height: 100vh;
  z-index: 1;
  padding: 130px 10px;
}
/* line 10, ../sass/3-layout/_cs-page.sass */
.cs-wrapper section#cs::after {
  z-index: -1;
  content: "";
  position: absolute;
  opacity: 0.1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url(../images/coming-soon-blur.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 800px) {
  /* line 26, ../sass/3-layout/_cs-page.sass */
  .cs-wrapper section#cs {
    padding: 10px;
    height: 100vh;
  }
}
@media screen and (max-height: 800px) {
  /* line 32, ../sass/3-layout/_cs-page.sass */
  .cs-wrapper section#cs {
    padding: 10px;
    height: 100vh;
  }
}
/* line 1, ../sass/4-modules/_profile-box.sass */
.profile-box {
  max-width: 1235px;
  margin: 0 auto;
  flex-grow: 1;
  border-radius: 3px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
  height: 100%;
  background-image: url(../images/profile-bg.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
/* line 15, ../sass/4-modules/_profile-box.sass */
.profile-box--portfolio {
  position: absolute;
  background-color: #f7fcff;
  top: 0;
  left: -400px;
  bottom: 0;
  max-width: 400px;
  transition: all 350ms ease-in-out;
}
/* line 23, ../sass/4-modules/_profile-box.sass */
.profile-box--portfolio.active {
  left: 0;
}
/* line 26, ../sass/4-modules/_profile-box.sass */
.profile-box--chat {
  position: absolute;
  background-color: #f7fcff;
  top: 0;
  right: -500px;
  bottom: 0;
  max-width: 500px;
  transition: all 350ms ease-in-out;
}
/* line 34, ../sass/4-modules/_profile-box.sass */
.profile-box--chat.active {
  right: 0;
}
/* line 36, ../sass/4-modules/_profile-box.sass */
.profile-box--back-arrow {
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
/* line 41, ../sass/4-modules/_profile-box.sass */
.profile-box--back-arrow svg {
  width: 50px;
  height: 50px;
}
/* line 44, ../sass/4-modules/_profile-box.sass */
.profile-box--back-arrow path {
  transition: all 150ms ease-in-out;
}
/* line 46, ../sass/4-modules/_profile-box.sass */
.profile-box--back-arrow.active {
  transform: translateX(400px);
}
/* line 49, ../sass/4-modules/_profile-box.sass */
.profile-box--back-arrow:hover path {
  fill: #2c86c5;
}
/* line 52, ../sass/4-modules/_profile-box.sass */
.profile-box--profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100% - 133px);
  transition: all 300ms ease-in-out;
  transform: translateX(0px);
}
/* line 60, ../sass/4-modules/_profile-box.sass */
.profile-box--profile.active {
  transform: translateX(200px);
  opacity: 0.5;
}
/* line 63, ../sass/4-modules/_profile-box.sass */
.profile-box--profile.negativeActive {
  transform: translateX(-250px);
  opacity: 0.5;
}

@media screen and (max-height: 900px) {
  /* line 70, ../sass/4-modules/_profile-box.sass */
  .profile-box {
    margin: 0 auto;
  }
}
/* line 1, ../sass/4-modules/_profile.sass */
.profile {
  color: #fff;
}
/* line 3, ../sass/4-modules/_profile.sass */
.profile.active {
  opacity: 0.5;
}
/* line 5, ../sass/4-modules/_profile.sass */
.profile--options {
  margin-bottom: 50px;
}
/* line 7, ../sass/4-modules/_profile.sass */
.profile--name {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
/* line 12, ../sass/4-modules/_profile.sass */
.profile--title {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
}

/* line 1, ../sass/4-modules/_profile-options.sass */
.profile-options {
  display: flex;
  align-items: center;
}
/* line 4, ../sass/4-modules/_profile-options.sass */
.profile-options--showcase {
  order: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  border: 3px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
/* line 15, ../sass/4-modules/_profile-options.sass */
.profile-options--showcase path {
  transition: all 150ms ease-in-out;
}
/* line 18, ../sass/4-modules/_profile-options.sass */
.profile-options--showcase:hover, .profile-options--showcase.active {
  background-color: white;
}
/* line 20, ../sass/4-modules/_profile-options.sass */
.profile-options--showcase:hover path, .profile-options--showcase.active path {
  fill: #2c86c5;
}
/* line 23, ../sass/4-modules/_profile-options.sass */
.profile-options--avatar {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  border: 9px solid #97ccee;
  margin: 0 30px;
  background-image: url(../images/profile-avatar.png);
  background-position: center;
  background-size: cover;
}
/* line 34, ../sass/4-modules/_profile-options.sass */
.profile-options--chat {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  border: 3px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
/* line 44, ../sass/4-modules/_profile-options.sass */
.profile-options--chat path {
  transition: all 150ms ease-in-out;
}
/* line 46, ../sass/4-modules/_profile-options.sass */
.profile-options--chat:hover, .profile-options--chat.active {
  background-color: white;
}
/* line 48, ../sass/4-modules/_profile-options.sass */
.profile-options--chat:hover path, .profile-options--chat.active path {
  fill: #2c86c5;
}

@media screen and (max-width: 950px) {
  /* line 53, ../sass/4-modules/_profile-options.sass */
  .profile-options {
    display: block;
    text-align: center;
    line-height: 80px;
  }
  /* line 57, ../sass/4-modules/_profile-options.sass */
  .profile-options--showcase, .profile-options--chat {
    margin: 15px;
    display: inline-block;
  }
}
@media screen and (max-width: 800px) {
  /* line 63, ../sass/4-modules/_profile-options.sass */
  .profile-options {
    margin-bottom: 10px;
  }
}
/* line 1, ../sass/4-modules/_portfolio.sass */
.portfolio {
  padding: 10px;
  z-index: 1;
}
/* line 4, ../sass/4-modules/_portfolio.sass */
.portfolio--wrapper {
  overflow-y: scroll;
  height: 100%;
  padding: 0 45px;
}
/* line 8, ../sass/4-modules/_portfolio.sass */
.portfolio--item {
  border: 20px solid #f7fcff;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  height: auto;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  margin-bottom: 30px;
}
/* line 17, ../sass/4-modules/_portfolio.sass */
.portfolio--item:hover .portfolio--overlay {
  opacity: 1;
  pointer-events: all;
}
/* line 20, ../sass/4-modules/_portfolio.sass */
.portfolio--item img {
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
}
/* line 26, ../sass/4-modules/_portfolio.sass */
.portfolio--overlay {
  transition: opacity 250ms ease-in-out;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../images/magnifier.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

@media screen and (max-width: 420px) {
  /* line 44, ../sass/4-modules/_portfolio.sass */
  .portfolio--wrapper {
    padding: 0 10px;
  }

  /* line 46, ../sass/4-modules/_portfolio.sass */
  .portfolio--item {
    border: 5px solid #f7fcff;
  }
}
/* line 1, ../sass/4-modules/_chat.sass */
.chat {
  padding-top: 10px;
  text-align: left;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
/* line 6, ../sass/4-modules/_chat.sass */
.chat .chat-wrapper {
  height: calc(100% - 226px);
  overflow-y: scroll;
}
/* line 9, ../sass/4-modules/_chat.sass */
.chat .chat-wrapper .msg-wrapper {
  padding: 20px;
}
/* line 11, ../sass/4-modules/_chat.sass */
.chat .chat-wrapper .msg-wrapper:nth-child(odd) {
  background: #f8f8f8;
}
/* line 13, ../sass/4-modules/_chat.sass */
.chat .chat-wrapper .msg-wrapper .person {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
/* line 17, ../sass/4-modules/_chat.sass */
.chat .chat-wrapper .msg-wrapper .person .avatar {
  min-width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* line 25, ../sass/4-modules/_chat.sass */
.chat .chat-wrapper .msg-wrapper .person .person-info {
  margin-left: 15px;
  color: #266b88;
}
/* line 28, ../sass/4-modules/_chat.sass */
.chat .chat-wrapper .msg-wrapper .person .person-info .name {
  font-size: 18px;
  font-weight: 600;
}
/* line 32, ../sass/4-modules/_chat.sass */
.chat .chat-wrapper .msg-wrapper .person .person-info .title {
  font-size: 14px;
}
/* line 36, ../sass/4-modules/_chat.sass */
.chat .chat-wrapper .msg-wrapper .person-msg p {
  font-size: 14px;
  line-height: 20px;
}
/* line 40, ../sass/4-modules/_chat.sass */
.chat .chat-wrapper .msg-wrapper hr {
  margin: 10px 20px 10px 0;
  border: 1px solid #ddd;
}

@media screen and (max-width: 800px) {
  /* line 46, ../sass/4-modules/_chat.sass */
  .chat .chat-wrapper {
    height: calc(100% - 276px);
  }
}
@media screen and (max-width: 520px) {
  /* line 51, ../sass/4-modules/_chat.sass */
  .chat .chat-wrapper {
    height: calc(100% - 210px);
  }
}
/* line 1, ../sass/4-modules/_form-chat.sass */
.form-chat {
  padding: 20px 80px;
  text-align: right;
}
/* line 4, ../sass/4-modules/_form-chat.sass */
.form-chat--input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  font-size: 12px;
  border: 1.5px solid #ddd;
  padding: 10px;
  height: 120px;
  resize: none;
  border-radius: 10px;
}
/* line 14, ../sass/4-modules/_form-chat.sass */
.form-chat--input:focus {
  outline: none;
}
/* line 16, ../sass/4-modules/_form-chat.sass */
.form-chat--button {
  background: none;
  background-color: #2d87c6;
  border-radius: 60px;
  padding: 15px 40px;
  border: none;
  color: white;
  text-transform: uppercase;
}
/* line 24, ../sass/4-modules/_form-chat.sass */
.form-chat--button:focus {
  outline: none;
}

@media screen and (max-width: 520px) {
  /* line 30, ../sass/4-modules/_form-chat.sass */
  .form-chat {
    padding: 10px 20px;
  }
  /* line 32, ../sass/4-modules/_form-chat.sass */
  .form-chat--input {
    height: 80px;
  }
  /* line 35, ../sass/4-modules/_form-chat.sass */
  .form-chat--button {
    padding: 10px 30px;
  }
}
/* line 1, ../sass/4-modules/_mobile-back-btns.sass */
.mobile-back-btn {
  cursor: pointer;
  display: none;
  margin-bottom: 10px;
}
/* line 4, ../sass/4-modules/_mobile-back-btns.sass */
.mobile-back-btn svg {
  transition: all 250ms ease;
  width: 40px;
  height: 40px;
}
/* line 8, ../sass/4-modules/_mobile-back-btns.sass */
.mobile-back-btn path {
  fill: #2c86c5;
}
/* line 12, ../sass/4-modules/_mobile-back-btns.sass */
.mobile-back-btn--portfolio {
  text-align: right;
}
/* line 15, ../sass/4-modules/_mobile-back-btns.sass */
.mobile-back-btn--portfolio:hover svg {
  transform: translateX(-30px);
}
/* line 17, ../sass/4-modules/_mobile-back-btns.sass */
.mobile-back-btn--chat {
  text-align: left;
}
/* line 19, ../sass/4-modules/_mobile-back-btns.sass */
.mobile-back-btn--chat svg {
  transform: rotate(180deg);
}
/* line 22, ../sass/4-modules/_mobile-back-btns.sass */
.mobile-back-btn--chat:hover svg {
  transform: translateX(30px) rotate(180deg);
}

@media screen and (max-width: 800px) {
  /* line 26, ../sass/4-modules/_mobile-back-btns.sass */
  .mobile-back-btn {
    display: block;
  }
}
/* line 1, ../sass/4-modules/_cs.sass */
.cs {
  max-width: 1230px;
  margin: 0 auto;
  background: #1f2429;
  height: calc(100vh - 260px);
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  z-index: 1;
  flex-direction: column;
  display: flex;
}
/* line 11, ../sass/4-modules/_cs.sass */
.cs::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.1;
  background-image: url(../images/coming-soon.jpg);
  background-size: cover;
  background-position: center;
}
/* line 25, ../sass/4-modules/_cs.sass */
.cs--logo {
  height: 90px;
  background-image: url(../images/outspyr.png);
  background-repeat: no-repeat;
  background-position: 30px 50%;
}
/* line 32, ../sass/4-modules/_cs.sass */
.cs--body {
  flex-grow: 1;
}

@media screen and (max-width: 800px) {
  /* line 37, ../sass/4-modules/_cs.sass */
  .cs {
    height: calc(100vh - 20px);
  }
}
@media screen and (max-height: 800px) {
  /* line 41, ../sass/4-modules/_cs.sass */
  .cs {
    height: calc(100vh - 20px);
  }
}
@media screen and (max-width: 420px) {
  /* line 47, ../sass/4-modules/_cs.sass */
  .cs {
    text-align: center;
  }
  /* line 49, ../sass/4-modules/_cs.sass */
  .cs--logo {
    background-position: 50% 50%;
  }
}
/* line 1, ../sass/4-modules/_cs-body.sass */
.cs-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* line 5, ../sass/4-modules/_cs-body.sass */
.cs-body--logo {
  margin-left: 50px;
  max-width: 330px;
  flex-grow: 1;
}
/* line 9, ../sass/4-modules/_cs-body.sass */
.cs-body--logo img {
  opacity: 0.2;
  max-width: 100%;
  height: auto;
}
/* line 13, ../sass/4-modules/_cs-body.sass */
.cs-body--form {
  max-width: 500px;
  margin-right: 50px;
}

@media screen and (max-width: 745px) {
  /* line 22, ../sass/4-modules/_cs-body.sass */
  .cs-body--logo {
    display: none;
  }
  /* line 25, ../sass/4-modules/_cs-body.sass */
  .cs-body--form {
    margin: 0 10px;
  }
}
@media screen and (max-height: 550px) {
  /* line 32, ../sass/4-modules/_cs-body.sass */
  .cs-body--logo img {
    width: 70%;
  }
}
/* line 3, ../sass/4-modules/_cs-body-form.sass */
.cs-body-form--heading {
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 25px;
}
/* line 9, ../sass/4-modules/_cs-body-form.sass */
.cs-body-form--lead {
  font-size: 18px;
  font-weight: 500;
}
/* line 13, ../sass/4-modules/_cs-body-form.sass */
.cs-body-form--p {
  font-size: 14px;
  margin: 20px 0;
}

@media screen and (max-width: 365px) {
  /* line 20, ../sass/4-modules/_cs-body-form.sass */
  .cs-body-form--heading {
    font-size: 25px;
  }
  /* line 22, ../sass/4-modules/_cs-body-form.sass */
  .cs-body-form--lead {
    font-size: 14px;
  }
  /* line 24, ../sass/4-modules/_cs-body-form.sass */
  .cs-body-form--p {
    font-size: 10px;
  }
}
/* line 1, ../sass/4-modules/_cs-input-group.sass */
.cs-input-group {
  position: relative;
  margin-top: 20px;
}
/* line 4, ../sass/4-modules/_cs-input-group.sass */
.cs-input-group--input {
  width: 100%;
  font-size: 14px;
  background: none;
  border: 1px solid rgba(204, 204, 204, 0.2);
  border-radius: 30px;
  padding: 15px 20px;
  font-weight: 500;
  transition: all 150ms ease;
}
/* line 13, ../sass/4-modules/_cs-input-group.sass */
.cs-input-group--input:focus {
  outline: none;
}
/* line 15, ../sass/4-modules/_cs-input-group.sass */
.cs-input-group--input:focus, .cs-input-group--input:hover {
  border: 1px solid rgba(204, 204, 204, 0.5);
}
/* line 18, ../sass/4-modules/_cs-input-group.sass */
.cs-input-group--btn {
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0 40px;
  width: 35%;
  border-radius: 0 30px 30px 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  transition: all 450ms ease-in-out;
  background: -webkit-linear-gradient(#2589c2, #237aad);
  background: -o-linear-gradient(#2589c2, #237aad);
  background: -moz-linear-gradient(#2589c2, #237aad);
  background: linear-gradient(#2589c2, #237aad);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradient-top', endColorstr='$gradient-bot', GradientType=0);
}
/* line 36, ../sass/4-modules/_cs-input-group.sass */
.cs-input-group--btn:focus {
  outline: none;
}
/* line 38, ../sass/4-modules/_cs-input-group.sass */
.cs-input-group--btn.success {
  border-radius: 30px;
  background: #33cc33;
  width: 100%;
  color: #444;
  pointer-events: none;
}
/* line 44, ../sass/4-modules/_cs-input-group.sass */
.cs-input-group--btn.exists {
  width: 100%;
  background: #cc3333;
  border-radius: 30px;
  pointer-events: none;
}

@media screen and (max-width: 365px) {
  /* line 52, ../sass/4-modules/_cs-input-group.sass */
  .cs-input-group--input {
    font-size: 12px;
  }
  /* line 54, ../sass/4-modules/_cs-input-group.sass */
  .cs-input-group--btn {
    font-size: 14px;
    padding: 0 25px;
  }
}
/* line 1, ../sass/4-modules/_cs-footer.sass */
.cs-footer {
  display: flex;
  align-items: center;
  margin: 15px 30px;
}
/* line 6, ../sass/4-modules/_cs-footer.sass */
.cs-footer--copyright {
  color: rgba(255, 255, 255, 0.5);
  flex-grow: 1;
}

/* line 1, ../sass/4-modules/_cs-socials.sass */
.cs-socials {
  display: flex;
  flex-direction: row;
}
/* line 4, ../sass/4-modules/_cs-socials.sass */
.cs-socials svg {
  width: 20px;
  height: 20px;
}
/* line 7, ../sass/4-modules/_cs-socials.sass */
.cs-socials svg path {
  transition: all 150ms ease;
}

/* line 10, ../sass/4-modules/_cs-socials.sass */
.cs-social {
  margin-right: 15px;
  cursor: pointer;
}
/* line 13, ../sass/4-modules/_cs-socials.sass */
.cs-social:last-child {
  margin-right: 0px;
}
/* line 18, ../sass/4-modules/_cs-socials.sass */
.cs-social:hover svg path {
  opacity: 1;
}
